# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    client_url: http://localhost:8000
    client_secret: 25xkjyt2hg1wc48g0csc0c4s8c4kw000g4o040sc8s40sgswgg
    public_id: 59445532-7bf1-11e5-bb6e-28d244df9d68_2mhmdfrtueckgcsg808wooo8040o48o000wwkwckogw40k00s0

    activiti_url: "http://localhost:8888/"
    activiti_user: "rest"
    activiti_password: "rest"
