# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    client_auth:       oauth

    client_secret:     ZjdiYzJiZDlmY2I4YTRiODA3Y2M4MjEzYmE2NzRkMzE1NmUwYjZiYjhmNjIxMjQ3NDJlMmFkNTYwNjYxYmEwOQ
    public_id:         5db4df53-86cb-11e5-a115-28d244df9d68_aqpk8l65v688wg0woo0gsko00ow0sw4cgg04k8ck8kc8s000c

    api_key:           ~
    api_key_type:      header
    api_key_name:      apikey

    base_url:          http://localhost:8000
    oauth_path:        /oauth/v2
    api_path:          /api/v1
